<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article">
    <head>
        <!-- https://googledrive.com/host/0B-659FdpCliwYXEtaG9JUlk2MWc/index.html -->
        <title>Katholiek Kwartetten - {{qrCode.kwartet}} - {{qrCode.kaart}}</title>

        <meta name="description" content="Katholiek Kwartetten - {{qrCode.uitleg}}" />
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{qrCode.kwartet}} - {{qrCode.kaart}}">
        <meta itemprop="description" content="{{qrCode.uitleg}}">
        <meta itemprop="image" content="https://googledrive.com/host/0B-659FdpCliwR21seWgtRUpDT2M/{{qrCode.beeld}}">
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@vicmortelmans">
        <meta name="twitter:title" content="{{qrCode.kaart}}">
        <meta name="twitter:description" content="{{qrCode.uitleg}}">
        <meta name="twitter:creator" content="@vicmortelmans">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="https://googledrive.com/host/0B-659FdpCliwR21seWgtRUpDT2M/{{qrCode.beeld}}">
        <!-- Open Graph data -->
        <meta property="og:title" content="{{qrCode.kaart}}" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://www.katholiekkwartetten.net{{qrCode.cardurl}}" />
        <meta property="og:image" content="https://googledrive.com/host/0B-659FdpCliwR21seWgtRUpDT2M/{{qrCode.beeld}}" />
        <meta property="og:description" content="{{qrCode.uitleg}}" />
        <meta property="og:site_name" content="Katholiek Kwartetten" />
        <meta property="article:published_time" content="2015-04-10T05:59:00+01:00" />
        <meta property="article:modified_time" content="2015-04-10T19:08:47+01:00" />
        <meta property="article:section" content="Publications" />
        <meta property="article:tag" content="kwartet" />
        <!--meta property="fb:admins" content="Facebook numberic ID" /-->

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="Katholiek Kwartetten - {{qrCode.kwartet}} - {{qrCode.kaart}}" />
        <link rel="stylesheet" href="/stylesheets/jquery.mobile-katholiekkwartetten.css"  media="screen"/><!-- themeroller -->
        <link rel="stylesheet" href="/stylesheets/jquery.mobile.structure-1.3.2.min.css"  media="screen"/>
        <link rel="stylesheet" href="/stylesheets/katholiekkwartetten.css"/><!-- my styles -->
        <script src="/javascript/jquery-1.8.3.min.js"></script>
        <script src="/javascript/jquery.rwdImageMaps.min.js"></script>
        <!--link rel="icon" type="image/png" href="favicon.png" /-->
        <!--link rel="apple-touch-icon-precomposed" href="favicon114.png" /-->
        <script src="/javascript/katholiekkwartetten.js"></script>
        <script src="/javascript/jquery.mobile-1.3.2.min.js"></script>
        <script src="/javascript/jquery.cookie.js"></script>
    </head>
    <body id="nav">

        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e70cb9735c8133f" async="async"></script>

        <div data-role="page" id="kaart" data-url="{{qrCode.cardurl}}">

            <div data-role="header" data-position="fixed" data-tap-toggle="false">
                <a href="/" data-icon="home" data-role="button" data-iconpos="notext" rel="external"></a>
                <h1>{{qrCode.kaart}}</h1>
                <a href="/#kwartetten" data-icon="grid" data-role="button" data-iconpos="notext" rel="external"></a>
                <div data-role="navbar">
                    <ul>
                        <li><a href="#" class="ui-btn-active ui-state-persist">Kaart</a></li>
                        <li><a href="#bron">Bron</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div>

            <div class="image-container">
                <img class="fullwidthimage" src="https://googledrive.com/host/0B-659FdpCliwR21seWgtRUpDT2M/{{qrCode.beeld}}" alt="Kwartetkaart {{qrCode.kaart}}" usemap="#cards"/>
                <map name="cards">
                    <area shape="rect" coords="0,134,144,260" href="{{qrCode.firstcardurl}}" alt="Andere kaarten in het kwartet"/>
                    <area shape="rect" coords="0,260,144,390" href="{{qrCode.secondcardurl}}" alt="Andere kaarten in het kwartet"/>
                    <area shape="rect" coords="0,390,144,520" href="{{qrCode.thirdcardurl}}" alt="Andere kaarten in het kwartet"/>
                </map>
            </div>

            <div data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <select name="spelen" id="spelen1" data-role="slider" data-mini="true">
                            <option value="lezen">Lezen</option>
                            <option value="spelen">Spelen</option>
                        </select>
                    </div>
                    <div class="ui-block-b">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_sharing_toolbox"></div>
                    </div>
                </div>
            </div>

            <div data-role="popup" class="spelregels">
                <p>Ken je de <a href="/">spelregels</a> al?</p>
            </div>

        </div><!-- /page -->

        <div data-role="page" id="bron" data-url="{{qrCode.cardurl}}">

            <div data-role="header" data-position="fixed" data-tap-toggle="false">
                <a href="/" data-icon="home" data-role="button" data-iconpos="notext" rel="external"></a>
                <h1>{{qrCode.kaart}}</h1>
                <a href="/#kwartetten" data-icon="grid" data-role="button" data-iconpos="notext" rel="external"></a>
                <div data-role="navbar">
                   <ul>
                       <li><a href="#kaart">Kaart</a></li>
                       <li><a href="#" class="ui-btn-active ui-state-persist">Bron</a></li>
                   </ul>
                </div><!-- /navbar -->
            </div>

            <div class="text-content">
                <p>{{qrCode.uitleg}}</p>
                <p>{{qrCode.intro}}</p>
            </div>
            <div class="main-button">
                <a target="_blank" href="{{qrCode.url}}" data-role="button"
                    data-inline="true" data-mini="true" data-icon="arrow-r" data-iconpos="right">{{qrCode.kaart}}</a>
            </div>
            {% if qrCode.embedtype == 'youtube' %}
            <p>
                <div class="video-container">
                    <iframe width="420" height="315" src="{{qrCode.embed}}"
                            frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </p>
            {% endif %}
            {% if qrCode.embedtype == 'mp3' %}
            <p class="main-button">
                <audio controls width="100%">
                    <source src="{{qrCode.embed}}" type="audio/mpeg">
                    <embed width="100%" src="{{qrCode.embed}}">
                </audio>
            </p>
            {% endif %}
            {% if qrCode.embedtype == 'thumbnail' %}
            <p>
                <img class="fullwidthimage" src="{{qrCode.embed}}"/>
            </p>
            {% endif %}

            <div data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <select name="spelen" id="spelen2" data-role="slider" data-mini="true">
                            <option value="lezen">Lezen</option>
                            <option value="spelen">Spelen</option>
                        </select>
                    </div>
                    <div class="ui-block-b">
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_sharing_toolbox"></div>
                    </div>
                </div>
            </div>

            <div data-role="popup" class="spelregels">
                <p>Ken je de <a href="/">spelregels</a> al?</p>
            </div>

        </div><!-- /page -->

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-43588802-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>


