<!DOCTYPE html>
<html>
    <head>
        <!-- https://googledrive.com/host/0B-659FdpCliwYXEtaG9JUlk2MWc/index.html -->
        <title>Katholiek kwartetten - {{qrCode.kwartet}} - {{qrCode.kaart}}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="Katholiek kwartetten - {{qrCode.kwartet}} - {{qrCode.kaart}}" />
        <link rel="stylesheet" href="/stylesheets/jquery.mobile-katholiekkwartetten.css"  media="screen"/><!-- themeroller -->
        <link rel="stylesheet" href="//code.jquery.com/mobile/1.3.2/jquery.mobile.structure-1.3.2.min.css"  media="screen"/>
        <link rel="stylesheet" href="/stylesheets/katholiekkwartetten.css"/><!-- my styles -->
        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="/javascript/jquery.rwdImageMaps.min.js"></script>
        <!--link rel="icon" type="image/png" href="favicon.png" /-->
        <!--link rel="apple-touch-icon-precomposed" href="favicon114.png" /-->
        <script src="/javascript/katholiekkwartetten.js"></script>
        <script src="//code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
        <script src="/javascript/jquery.cookie.js"></script>
    </head>
    <body id="nav">
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));
        </script>

        <div data-role="page" id="kaart" data-url="{{qrCode.cardurl}}">

            <div data-role="header" data-position="fixed" data-tap-toggle="false">
                <a href="/" data-icon="home" data-role="button" data-iconpos="notext" rel="external"></a>
                <h1>{{qrCode.kaart}}</h1>
                <a href="/#kwartetten" data-icon="grid" data-role="button" data-iconpos="notext" rel="external"></a>
                <div data-role="navbar">
                    <ul>
                        <li><a href="#" class="ui-btn-active ui-state-persist">Kaart</a></li>
                        <li><a href="#bron">Bron</a></li>
                        <li><a href="#forum">Forum</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div>

            <div class="image-container">
                <img class="fullwidthimage" src="https://googledrive.com/host/0B-659FdpCliwR21seWgtRUpDT2M/{{qrCode.beeld}}" alt="Kwartetkaart {{qrCode.kaart}}" usemap="#cards"/>
                <map name="cards">
                    <area shape="rect" coords="0,134,144,260" href="{{qrCode.firstcardurl}}" alt="Andere kaarten in het kwartet"/>
                    <area shape="rect" coords="0,260,144,390" href="{{qrCode.secondcardurl}}" alt="Andere kaarten in het kwartet"/>
                    <area shape="rect" coords="0,390,144,520" href="{{qrCode.thirdcardurl}}" alt="Andere kaarten in het kwartet"/>
                </map>
            </div>

            <div data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <select name="spelen" id="spelen1" data-role="slider" data-mini="true">
                            <option value="lezen">Lezen</option>
                            <option value="spelen">Spelen</option>
                        </select>
                    </div>
                    <div class="ui-block-b">
                        <a href="#share1" data-role="button" data-mini="true" data-inline="true" data-rel="popup">Delen</a>
                        <div data-role="popup" id="share1">
                            <ul data-role="listview" data-inset="true">
                                <li>
                                    <a target="_blank" href="{{'http://www.facebook.com/sharer/sharer.php?' + urlencode({'u': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Like</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{'http://twitter.com/home?' + urlencode({'status': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Tweet</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{'https://plus.google.com/share?' + urlencode({'url': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div data-role="popup" class="spelregels">
                <p>Ken je de <a href="/" target="_blank">spelregels</a> al?</p>
            </div>

        </div><!-- /page -->

        <div data-role="page" id="bron" data-url="{{qrCode.cardurl}}">

            <div data-role="header" data-position="fixed" data-tap-toggle="false">
                <a href="/" data-icon="home" data-role="button" data-iconpos="notext" rel="external"></a>
                <h1>{{qrCode.kaart}}</h1>
                <a href="/#kwartetten" data-icon="grid" data-role="button" data-iconpos="notext" rel="external"></a>
                <div data-role="navbar">
                   <ul>
                       <li><a href="#kaart">Kaart</a></li>
                       <li><a href="#" class="ui-btn-active ui-state-persist">Bron</a></li>
                       <li><a href="#forum">Forum</a></li>
                   </ul>
                </div><!-- /navbar -->
            </div>

            <div class="text-content">
                <p>{{qrCode.uitleg}}</p>
                <p>{{qrCode.intro}}</p>
            </div>
            <div class="main-button">
                <a target="_blank" href="{{qrCode.url}}" data-role="button"
                    data-inline="true" data-mini="true" data-icon="arrow-r" data-iconpos="right">{{qrCode.kaart}}</a>
            </div>
            {% if qrCode.embedtype == 'youtube' %}
            <p>
                <div class="video-container">
                    <iframe width="420" height="315" src="{{qrCode.embed}}"
                            frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </p>
            {% endif %}
            {% if qrCode.embedtype == 'mp3' %}
            <p>
                <audio controls width="100%">
                    <source src="{{qrCode.embed}}" type="audio/mpeg">
                    <embed width="100%" src="{{qrCode.embed}}">
                </audio>
            </p>
            {% endif %}

            <div data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <select name="spelen" id="spelen2" data-role="slider" data-mini="true">
                            <option value="lezen">Lezen</option>
                            <option value="spelen">Spelen</option>
                        </select>
                    </div>
                    <div class="ui-block-b">
                        <a href="#share2" data-role="button" data-mini="true" data-inline="true" data-rel="popup">Delen</a>
                        <div data-role="popup" id="share2">
                            <ul data-role="listview" data-inset="true">
                                <li>
                                    <a target="_blank" href="{{'http://www.facebook.com/sharer/sharer.php?' + urlencode({'u': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Like</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{'http://twitter.com/home?' + urlencode({'status': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Tweet</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{'https://plus.google.com/share?' + urlencode({'url': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div data-role="popup" class="spelregels">
                <p>Ken je de <a href="/" target="_blank">spelregels</a> al?</p>
            </div>

        </div><!-- /page -->

        <div data-role="page" id="forum" data-url="{{qrCode.cardurl}}">

            <div data-role="header" data-position="fixed" data-tap-toggle="false">
                <a href="/" data-icon="home" data-role="button" data-iconpos="notext" rel="external"></a>
                <h1>{{qrCode.kaart}}</h1>
                <a href="/#kwartetten" data-icon="grid" data-role="button" data-iconpos="notext" rel="external"></a>
                <div data-role="navbar">
                    <ul>
                        <li><a href="#kaart">Kaart</a></li>
                        <li><a href="#bron">Bron</a></li>
                        <li><a href="#" class="ui-btn-active ui-state-persist">Forum</a></li>
                    </ul>
                </div><!-- /navbar -->
            </div>

            <div class="fullwidth">
                <div class="fb-comments" data-href="{{qrCode.cardurl}}"></div>
            </div>

            <div data-role="footer" data-position="fixed" data-tap-toggle="false">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <select name="spelen" id="spelen3" data-role="slider" data-mini="true">
                            <option value="lezen">Lezen</option>
                            <option value="spelen">Spelen</option>
                        </select>
                    </div>
                    <div class="ui-block-b">
                        <a href="#share3" data-role="button" data-mini="true" data-inline="true" data-rel="popup">Delen</a>
                        <div data-role="popup" id="share3">
                            <ul data-role="listview" data-inset="true">
                                <li>
                                    <a target="_blank" href="{{'http://www.facebook.com/sharer/sharer.php?' + urlencode({'u': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Like</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{'http://twitter.com/home?' + urlencode({'status': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Tweet</a>
                                </li>
                                <li>
                                    <a target="_blank" href="{{'https://plus.google.com/share?' + urlencode({'url': 'http://www.katholiekkwartetten.net' + qrCode.cardurl})}}">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div data-role="popup" class="spelregels">
                <p>Ken je de <a href="/" target="_blank">spelregels</a> al?</p>
            </div>

        </div><!-- /page -->

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-43588802-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>


